# macOS

.DS_Store

# env files

.env
.env.*
!.env.example

# dependencies

node_modules/

# build output

dist/
build/
coverage/
.next/
.vercel/

# logs

*.log

# editors

.vscode/
.idea/

# typescript

*.tsbuildinfo
